html,body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #eee;
}
.hero-section {
    padding-top: 80px;
}
@media screen and (max-width: 650px) {
    .hero-section {
        padding-top: 50px;
    }
}
.hero img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    transform: translateY(15px);
}
.blue-break{
    background-color: #083E89;
    height: 100px;
    width: 100vw;
}
.blue-break p{
    color: #fff;
    font-size: 50px;
    line-height: 100px;
}
.profile {
    margin: 20px;
    width: 200px;
    box-shadow: #ddd 0 0 10px;
}
.profile-text{
    margin: 20px;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
}
@media screen and (max-width: 767px) {
    .text-end{
        text-align: left !important;
    }
}