html,body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #fff;
}
.hero-section {
    padding-top: 80px;
}
@media screen and (max-width: 650px) {
    .hero-section {
        padding-top: 50px;
    }
}
.hero img {
    height: auto;
    width: 100vw;
    object-fit: cover;
    transform: translateY(15px);
}
.blue-break{
    margin-top: 100px;
    background-color: #083E89;
    height: 100px;
    width: 100vw;
}
.blue-break p{
    color: #fff;
    font-size: 50px;
    line-height: 100px;
}
@media screen and (max-width: 1268px) {
    .blue-break{
        margin-top: 75px;
    }
    .blue-break p{
        font-size: 30px;
        line-height: 100px;
    }
}
@media screen and (max-width: 767px) {
    .text-end{
        text-align: left !important;
    }
}

.whole {
    margin: auto;
    width: 60vw;

}

.title {
    font-size: 50px;
    line-height: 80px;
    color: #000000;
    text-overflow: wrap;
    margin-bottom: 15px;
    font-weight: bold;
}
.title-font {
    font-family: 'Arimo', sans-serif !important;
}
.subtitle {

}

.body-text {
    font-size: 20px;
    line-height: 30px;
    color: #000307;
    font-family: 'Source Serif Pro', serif !important;
    word-wrap: break-word;
}

@media screen and (max-width: 500px){
    .title {
        font-size: 60px;
        line-height: 50px;
    }
    .body-text {
        font-size: 20px;
        line-height: 35px;
    }
    .whole {
        margin: auto;
        width: 80vw;
    }
    .bloghr {
        width: 80vw;
        margin: auto;
    }
    .date {
        width: 80vw;
        color: #000;
        margin: auto;
        margin-bottom: 20px;
    }
}
.empty {
    margin-top: 120px;
}
.bloghr {
    width: 60vw;
    margin: auto;
    border: 1px solid #111 !important;
}
.date {
    width: 60vw;
    color: #000;
    margin: auto;
    margin-bottom: 20px;
}