html,body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #fff;
}
.hero-section {
    padding-top: 80px;
}
@media screen and (max-width: 650px) {
    .hero-section {
        padding-top: 50px;
    }
}
.hero img {
    height: auto;
    width: 100vw;
    object-fit: cover;
    transform: translateY(15px);
}
.blue-break{
    margin-top: 100px;
    background-color: #083E89;
    height: 100px;
    width: 100vw;
}
.blue-break p{
    color: #fff;
    font-size: 50px;
    line-height: 100px;
}
@media screen and (max-width: 1268px) {
    .blue-break{
        margin-top: 75px;
    }
    .blue-break p{
        font-size: 30px;
        line-height: 100px;
    }
}
@media screen and (max-width: 767px) {
    .text-end{
        text-align: left !important;
    }
}
.box {
    background: rgb(255,255,255) !important;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%) !important;
    transition: all 0.2s ease-out;

}
.box:hover {
    transform: scale(1.03);
    transition: all 0.2s ease;
}