
html,body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #eee;
}
.hero{
    background-image: linear-gradient(rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0.4));
    background-blend-mode: overlay;
    width: auto;
    height: auto;
    position: relative;
    z-index: 1;
}
.hero img {
    height: auto;
    width: 100vw;
    object-fit: cover;
    transform: translateY(15px);
    z-index: 0;
}
.move {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero-text{
    color: #083E89;
    margin: 150px 0;
    font-size: 55px;
    font-style: strong;
    font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 1089px) {
    .hero-text {
        
    }
}
@media screen and (max-width: 767px){
    .hero-text {
        font-size: 50px;
        margin-bottom: 170px !important;
        margin-top: 170px !important;
    }
    .hero {
        height: 700px;
    }
    .text-end, .text-start {
        text-align: center !important;
        align-content: center !important;
    }
    
}
@media screen and (max-width: 300px){
    .hero-text {
        font-size: 30px;
    }
}
.hero-button{
    background-color: #083E89;
    color: #eee;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    transform: translate(0px, -120px);
}
.hero-button:hover{
    background-color: #31B2D1;
}
.blue-break{
    background-color: #083E89;
    height: 100px;
    width: 100vw;
}
.blue-break p{
    color: #fff;
    font-size: 50px;
    line-height: 100px;
}
@media screen and (max-width: 1268px) {
    .blue-break p{
        font-size: 30px;
        line-height: 100px;
    }
}
.why-img-container{
    height: 500px;
    width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: 100px;
}
.why-img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
}
.why-us-text-container{
    margin: 50px;
    font-size: large;
    margin-left: 100px;
}
.whyUs{
    background-color: #fff;
    padding: 20px;
}
@media screen and (max-width: 500px){
    .why-img-container{
        height: 300px;
        width: 250px;
    }
    .why-us-text-container{
        margin: 0;
    }
    .whyUs{
        margin: 0;
    }
}
.bg-color {
    background-color: #E7F4FF;
}
.text-middle {
    padding: 50px 0;
}
.font {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
}
