
html,body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #E7F4FF;
}
.hero{
    background-color: #f7f3e6;
    background-image: url("../imgs/texture.webp");
    width: 100%;
    height: 82vh;
    background-size: cover;
    background-blend-mode: darken;
    z-index: -1;
}
.hero-text{
    color: #083E89;
    margin: 200px 0;
    font-size: 80px;
    font-style: strong;
}
.hero-button{
    background-color: #083E89;
    color: #f7f3e6;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    transform: translate(0px, -120px);
}
.grey-break{
    background-color: #383734;
    height: 100px;
    width: 100%;
}
.grey-break p{
    color: #f7f3e6;
    font-size: 50px;
    line-height: 100px;
}
.why-img-container{
    height: 500px;
    width: 400px;
    margin: auto;
}
.why-img-container img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 15%;
}
.why-us-text-container{
    background-color: #E7F4FF;
    margin: 50px;
    font-size: large;
}
.whyUs{
    background-color: #E7F4FF;
    margin: 50px;
    padding: 20px;
}
@media screen and (max-width: 500px){
    .why-img-container{
        height: 300px;
        width: 250px;
    }
    .why-us-text-container{
        margin: 0;
    }
    .whyUs{
        margin: 0;
    }
}
.bg-color {
    background-color: #E7F4FF;
}