
html,body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #eee;
}
.hero{
    background: linear-gradient(#fff, #ddd);
    width: 100%;
    height: 700px;
}
.hero-text{
    color: #083E89;
    margin: 200px 0;
    font-size: 60px;
    font-style: strong;
}
@media screen and (max-width: 578px){
    .hero-text {
        font-size: 50px;
    }
}
@media screen and (max-width: 300px){
    .hero-text {
        font-size: 30px;
    }
}
.hero-button{
    background-color: #083E89;
    color: #eee;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    transform: translate(0px, -120px);
}
.hero-button:hover{
    background-color: #31B2D1;
}
.blue-break{
    background-color: #083E89;
    height: 100px;
    width: 100vw;
}
.blue-break p{
    color: #fff;
    font-size: 50px;
    line-height: 100px;
}
.why-img-container{
    height: 500px;
    width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: 100px;
}
.why-img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
}
.why-us-text-container{
    margin: 50px;
    font-size: large;
    margin-left: 100px;
}
.whyUs{
    background-color: #fff;
    padding: 20px;
}
@media screen and (max-width: 500px){
    .why-img-container{
        height: 300px;
        width: 250px;
    }
    .why-us-text-container{
        margin: 0;
    }
    .whyUs{
        margin: 0;
    }
}
.bg-color {
    background-color: #E7F4FF;
}
.text-middle {
    padding: 50px 0;
}
