/* color codes
dark blue: #083E89
light blue: #31B2D1
warm white: #f7f3e6
*/

html, body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.navbar-color{
    background-color: #fff !important;
}
.nav-link{
    color: #083E89 !important;
    font-size: 20px;
}
.nav-link:hover{
    color: #31B2D1 !important;
}
.navbar{
    box-shadow: 0 0 7px #888;
}
.nav-logo{
    height: 80px;
    width: 313px;
}
.nav-item{
    padding: 0 10px;
}
.ms-10{
    margin-left: 100px !important;
}
.me-10{
    margin-right: 100px !important;
}
.me-20{
    margin-right: 200px !important;
}
.me-30{
    margin-right: 300px !important;
}
.ms-30{
    margin-left: 300px !important;
}
@media screen and (max-width: 1268px){
    .ms-10{
        margin-left: 0 !important;
    }
    .nav-logo{
        height: 50px;
        width: 188px;
    }
    .me-10{
        margin-right: 10px !important;
    }
    .me-20{
        margin-right: 20px !important;
    }
    .me-30{
        margin-right: 30px !important;
    }
    .ms-30{
        margin-left: 30px !important;
    }
    .footer{
        margin-bottom: 50px;
    }
}
.footer-logo{
    height: 80px;
    width: 108px;
}
.footer{
    background-color: #888;
    color: #000;
    padding: 50px 0;
    background-image: url("../imgs/marble.jpeg");
    background-blend-mode: screen;
    background-size: cover;
    width: 100%;
    height: 400px;
}
.active {
    color:#31B2D1 !important;
    font-weight: bold;
}
.gIcon {
    transform: translateY(5px);
}
a {
    text-decoration: none;
    color: #083E89;
}
a:hover {
    color: #31B2D1;
}
.popup {
    position: absolute;
    bottom: 30px;
    right: 30px;
    height: 50px;
    width: 200px;
    background-color: #083E89;
    color: #fff;
    z-index: 10;
    border-radius: 10px;
    line-height: 50px;
}
.popup:hover {
    background-color: #31B2D1;
}
@media screen and (max-width: 650px){
    .popup {
        position: fixed;
        bottom: 0;
        right: 0;
        height: 50px;
        width: 100%;
        background-color: #083E89;
        color: #fff;
        z-index: 10;
        border-radius: 0;
        line-height: 50px;
        text-align: center;
    }
}
.box-border{
    box-shadow: #eee 0 0 10px;
}
.button{
    background-color: #083E89;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    max-width: 300px;
}
@media screen and (max-width: 872px){
    .button{
        font-size: 15px;
    }
}
.button:hover{
    background-color: #31B2D1;
    color: #fff;
}
.a-right{
    text-align: right;
}
.a-left{
    text-align: left;
}
@media screen and (max-width: 770px){
    .a-right{
        text-align: center;
        padding: 30px 0;
    }
    .a-left{
        text-align: center;
        padding: 30px 0;
    }
}
.box {
    margin: 50px auto 0px auto;
    width: 80%;
    background-color: #efeffa;
    padding: 50px;
    box-shadow: #ddd 0 0 10px;
    border-radius: 15px;
}
@media screen and (max-width: 949px){
    .box {
        margin: 50px auto 0px auto;
        width: 90%;
        background-color: #efeffa;
        padding: 50px;
        box-shadow: #ddd 0 0 10px;
        border-radius: 15px;
    }
}
.hidden {
    display: none;
}
.active1 {
    background-color: #31B2D1;
}
.active2{
    color: #31B2D1;
    font-weight: bold;
}
hr {
    border: 1px solid #ccc;
}
