html,body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #eee;
}
.hero-section {
    padding-top: 80px;
}
@media screen and (max-width: 650px) {
    .hero-section {
        padding-top: 50px;
    }
}
.hero img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    transform: translateY(15px);
}
.blue-break{
    background-color: #083E89;
    height: 100px;
    width: 100vw;
}
.blue-break p{
    color: #fff;
    font-size: 50px;
    line-height: 100px;
}
.wStep {
    background-color: #eee;
    padding: 50px 0;
    transition: all 0.2s ease;
}
.gStep {
    background-color: #ddd;
    padding: 50px 0;
    transition: all 0.2s ease;
}
i {
    font-size: 50px;
    color: #083E89;
}
.icon {
    text-align: right;
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.text {
    text-align: left;
}
.wStep:hover , .gStep:hover {
    transform: scale(1.03);
}

@media screen and (max-width: 767px) {
    .icon {
        visibility: hidden;
    }
    .wStep {
        padding: 50px 25px;
        text-overflow: wrap;
    }
    .gStep {
        padding: 50px 25px;
        text-overflow: wrap;
    }

}