html,body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #eee;
}
.hero-section {
    padding-top: 80px;
}
@media screen and (max-width: 650px) {
    .hero-section {
        padding-top: 50px;
    }
}
.hero img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    transform: translateY(15px);
}
.blue-break{
    background-color: #083E89;
    height: 100px;
    width: 100vw;
}
.blue-break p{
    color: #fff;
    font-size: 50px;
    line-height: 100px;
}
.wStep {
    background-color: #eee;
    padding: 50px 0;
}
.gStep {
    background-color: #ddd;
    padding: 50px 0;
}
i {
    font-size: 50px;
    color: #083E89
}
.icon {
    text-align: right;
}
.text {
    text-align: left;
}
.wStep:hover , .gStep:hover {
    transform: scale(1.05);
    box-shadow: #ddd 0 0 10px;
}
@media screen and (max-width: 767px) {
    .icon {
        visibility: hidden;
    }

}