html,body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #fff;
}
.hero-section {
    padding-top: 80px;
}
@media screen and (max-width: 650px) {
    .hero-section {
        padding-top: 50px;
    }
}
.hero img {
    height: auto;
    width: 100vw;
    object-fit: cover;
    transform: translateY(15px);
}
.blue-break{
    background-color: #083E89;
    height: 100px;
    width: 100vw;
}
.blue-break p{
    color: #fff;
    font-size: 50px;
    line-height: 100px;
}

@media screen and (max-width: 767px) {
    .icon {
        visibility: hidden;
    }
    .step {
        padding: 50px 25px;
        text-overflow: wrap;
    }
    

}
.text p {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
}
.who {
    background-color: #fff;
}
i {
    font-size: 50px;
    color: #083E89;
    margin-bottom: 10px;
}