html,body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #eee;
}
.hero-section {
    padding-top: 80px;
}
@media screen and (max-width: 650px) {
    .hero-section {
        padding-top: 50px;
    }
}
.hero img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    transform: translateY(15px);
}
.blue-break{
    background-color: #083E89;
    height: 100px;
    width: 100vw;
}
.blue-break p{
    color: #fff;
    font-size: 50px;
    line-height: 100px;
}
.about-img-container{
    max-height: 500px;
    width: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: 100px;
}
.about-img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
    box-shadow: #bbb 0 0 10px;
}
.about-us-text-container{
    margin: 50px;
    font-size: large;
    margin-left: 100px;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
}
.aboutUs{
    background-color: #fff;
    padding: 20px;
}
@media screen and (max-width: 500px){
    .why-img-container{
        height: 300px;
        width: 250px;
    }
    .why-us-text-container{
        margin: 0;
    }
    .whyUs{
        margin: 0;
    }
}